@font-face {
  font-family: Gotham;
  src: url("../../fonts/gotham/Gotham-Black.otf");
}

body {
  background-color: #ffffff;
  margin: 0;
  font-family: Poppins, sans-serif;
  max-width: 1600px;
  margin: auto;
}

a, button {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

.btnOne {
  background-color: #ff5617;
  color: #ffffff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.btnOne:hover {
  background-color: #000000;
}

.btnTwo {
  background-color: #ff5617;
  color: #000000;
}

h1.title {
  color: #000000;
  font-size: 50px;
  margin-bottom: 0;
}

p.under-title {
  font-size: 18px;
  font-weight: 500;
}

.vl {
  border-left: 2px solid #000000;
  margin: 40px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
}

.hero header {
  position: relative;
  margin: 60px auto 0;
  width: 90%;
}

.hero header .vl {
  margin: auto;
}

.hero header .main-logo ul {
  margin: 16px auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero header .main-logo ul li {
  margin: 8px 16px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero header .main-logo > .txt {
  text-transform: uppercase;
  background-color: #000000;
  color: #ffffff;
  font-family: Gotham;
  letter-spacing: 4.5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 24px;
  text-align: center;
  padding: 6px 8px;
  margin: auto;
}

.hero header .main-logo > .txt a {
  color: #ffffff;
}

.hero header .menu {
  position: absolute;
  right: 0;
  top: 0;
}

.hero header .menu:hover {
  cursor: pointer;
}

.hero header .menu:hover + .menu-nav {
  visibility: visible;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hero header .menu-nav {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ff5617;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 150px;
  height: 0;
  visibility: hidden;
}

.hero header .menu-nav:hover {
  visibility: visible;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.hero header .menu-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero header .menu-nav ul li {
  padding: 12px 20px;
}

.hero header .menu-nav ul a {
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 18px;
  padding: 4px 0;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hero header .menu-nav ul a:hover {
  color: #000000;
}

.hero > div {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(0, 0, 0, 0))), url("../../img/banner.png");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0)), url("../../img/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  text-align: center;
}

.hero > div h1 {
  margin: 0;
  padding: 30px;
  font-size: 80px;
}

.hero > div .watch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero > div .watch a {
  font-size: 18px;
  letter-spacing: normal;
  color: #000000;
}

.hero > div .watch a img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}

.hero > div .watch a.txt {
  margin-left: 10px;
}

.hero > div a.btn {
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  padding: 6px 30px;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services {
  position: relative;
}

.services > .carousel-img {
  position: absolute;
  right: 0;
  top: -100px;
  width: 40%;
  background: #2c3da7;
  height: 450px;
}

.services > .carousel-img .slick-arrow {
  position: absolute;
  bottom: 0;
  border: none;
  padding: 16px 2px;
  font-size: 22px;
}

.services > .carousel-img .slick-prev {
  left: -30px;
  background: #2c3da7;
  color: #ffffff;
}

.services > .txt {
  margin-left: 10%;
  color: #000000;
}

.services > .txt h3 {
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
}

.services > .txt .carousel-txt {
  max-width: 500px;
}

.services > .txt .carousel-txt .item h1 {
  font-size: 46px;
  font-weight: 700;
  margin-top: 0;
}

.services > .txt .carousel-txt .item p {
  margin-top: 0;
}

.services > .txt .carousel-txt .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services > .txt .carousel-txt .slick-dots li {
  margin: auto 8px;
  padding: 4px 14px;
  border: 1px solid #000000;
}

.services > .txt .carousel-txt .slick-dots li:hover {
  cursor: pointer;
}

.services > .txt .carousel-txt .slick-dots li.slick-active {
  background: #ff5617;
  color: #ffffff;
  border: 1px solid #ff5617;
}

.v-carousel {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(44, 61, 167, 0.9)), to(rgba(44, 61, 167, 0.9))), url("../../img/about-img.jpg");
  background-image: linear-gradient(to left, rgba(44, 61, 167, 0.9), rgba(44, 61, 167, 0.9)), url("../../img/about-img.jpg");
  background-size: cover;
  position: relative;
}

.v-carousel img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.v-carousel .v-slider {
  color: #ffffff;
  width: 80%;
  margin: auto;
  padding: 100px 0;
}

.v-carousel .v-slider .item {
  max-width: 60%;
}

.v-carousel .v-slider .item .title {
  color: #ffffff;
}

.v-carousel .v-slider .item .credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.v-carousel .v-slider .item .credit hr {
  width: 50px;
  border: 1px solid #ff5617;
  height: 0px;
  margin: 0;
  margin-right: 20px;
}

.v-carousel .v-slider .item .quote {
  font-size: 200px;
}

.v-carousel .v-slider button.slick-arrow {
  position: absolute;
  right: 0;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 26px;
}

.v-carousel .v-slider ul.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.v-carousel .v-slider ul.slick-dots li {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.v-carousel .v-slider ul.slick-dots li.slick-active {
  font-size: 60px;
  opacity: 1;
}

.v-carousel .quote {
  font-size: 150px;
  color: #ffffff;
  position: absolute;
  left: 10%;
  bottom: -100px;
}

.portfolio {
  width: 50%;
  margin: auto;
  text-align: center;
}

.portfolio .navigation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .navigation ul button {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.5;
  font-size: 14px;
}

.portfolio .navigation ul button.active {
  opacity: 1;
  border-bottom: 2px solid #ff5617;
}

.portfolio .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .grid > div {
  width: calc(90% / 2);
  position: relative;
  margin: auto;
}

.portfolio .grid > div:nth-child(even) {
  margin-top: 50px;
}

.portfolio .grid > div img {
  -o-object-fit: contain;
     object-fit: contain;
}

.portfolio .grid > div:hover .grid-hover {
  visibility: visible;
}

.portfolio .grid div.grid-hover {
  background: #ff5617;
  color: #ffffff;
  text-align: left;
  padding: 12px;
  position: absolute;
  bottom: 16px;
  left: 14px;
  right: 14px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio .grid div.grid-hover span {
  font-size: 36px;
  font-weight: bold;
}

.portfolio .grid div.grid-hover p {
  margin: 0;
  font-size: 14px;
}

.services .head {
  max-width: 50%;
  text-align: center;
  margin: auto;
}

.services .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services-list > div {
  width: calc(100%/3);
  text-align: center;
  padding: 40px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.services .services-list > div:hover {
  cursor: pointer;
  background-color: #2c3da7;
  color: #ffffff;
}

.services .services-list > div:hover h1.title {
  color: #ffffff;
}

.services .services-list > div .icon {
  width: 50px;
  height: auto;
  margin: auto;
}

.services .services-list > div h1.title {
  font-size: 30px;
  font-weight: 600;
}

.services .services-list > div p.description {
  font-weight: 400;
  font-size: 16px;
}

.video .background {
  margin: 40px 0;
  background-color: #ff5617;
}

.video .background div.video-container {
  width: 70%;
  height: auto;
  margin: auto;
}

.video .background div.video-container video {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  margin: -40px auto;
}

.testimonials .head {
  text-align: center;
  max-width: 60%;
  margin: 100px auto auto;
}

.testimonials .testimonial-slider {
  text-align: center;
  width: 60%;
  margin: auto;
}

.testimonials .testimonial-slider p.feedback {
  font-style: medium;
  font-weight: 600;
}

.testimonials .testimonial-slider p.name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.testimonials .testimonial-slider span.post {
  color: #2c3da7;
  font-size: 14px;
  font-weight: 500;
}

.testimonials .testimonial-slider-nav {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .testimonial-slider-nav .item {
  width: 40px;
  height: 40px;
  margin: auto 10px;
}

.testimonials .testimonial-slider-nav .item img {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.testimonials .testimonial-slider-nav .item img:hover {
  cursor: pointer;
}

.testimonials .testimonial-slider-nav .item img.active {
  opacity: 1;
  width: 40px;
  height: 40px;
}

.people-brands .brands {
  width: 60%;
  margin: auto;
}

footer {
  background-color: #1a1a1a;
  color: #ffffff;
}

footer > div.top-footer {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > div.top-footer > div {
  padding: 0 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

footer > div.top-footer div.links {
  width: 25%;
}

footer > div.top-footer div.links a::before {
  content: '>';
  padding-right: 8px;
}

footer > div.top-footer div.links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer > div.top-footer div.links ul li {
  width: 40%;
}

footer > div.top-footer div.contact {
  width: 50%;
}

footer > div.top-footer div.contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer > div.top-footer div.contact a span {
  padding-left: 8px;
}

footer > div.top-footer div.contact a i {
  color: #ff5617;
}

footer > div.top-footer div.contact .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer > div.top-footer div.contact .list ul {
  width: 50%;
}

footer > div.top-footer div.contact .list form {
  width: 50%;
}

footer > div.top-footer div.contact .list form input {
  width: 100%;
  border: 1px solid #6e6e6e;
  background: transparent;
  outline: none;
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer > div.top-footer div.contact .list form textarea {
  width: 100%;
  border: 1px solid #6e6e6e;
  background: transparent;
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer > div.top-footer div.contact .list form button {
  border: none;
  background: #ff5617;
  font-size: 14px;
  padding: 12px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ff5617;
}

footer > div.top-footer div.contact .list form button:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: transparent;
}

footer > div.top-footer div.ig-feed {
  width: 25%;
}

footer > div.top-footer div.ig-feed > div.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer > div.top-footer div.ig-feed > div.content > img {
  width: 40%;
  margin: 10px auto;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 4px 0;
}

footer a:hover {
  color: #ff5617;
}

footer .title {
  padding: 40px 0;
  font-weight: 500;
  text-transform: capitalize;
}

footer div.bottom-footer {
  width: 80%;
  margin: auto;
  padding: 16px 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer div.bottom-footer a {
  font-size: 12px;
  text-transform: capitalize;
}

footer div.bottom-footer hr {
  border-top: 1px solid #6e6e6e;
}

footer div.bottom-footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer div.bottom-footer .content .links > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer div.bottom-footer .content .links > ul li {
  padding: 6px;
}

footer div.bottom-footer .content .copyright {
  float: right;
}

footer div.bottom-footer .content .copyright a {
  text-transform: lowercase;
}
